/*
COLOUR PALLETE

#e64d5f - PRIMARY RED
#f8b900 - Secondary Orange
#efa506 - Secondary Orange Darker
#92c818 - Green
#8cc500 - Green Darker
#334a60 - Navbar Dark Blue
#722258 - Purple Accent

*/


/* Theme Overrides */
.navbarpages {
  height: 70px;
}
#pages_maincontent {
  top: 70px;
  bottom: 120px;
  padding: 0 0 0 0;
}
.page-content.page-smallfooter #pages_maincontent {
  bottom: 34px;
}
.loginform label.error {
  float: none;
  display: block;
}
.page-bged {
  background-color: #FAFAFA;
  /* background: url('images/dog-pattern.jpg') repeat; */
}
.page-bged #pages_maincontent {
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0px 5px 5px -5px rgba(51,51,51,0.2);
  -moz-box-shadow: inset 0px 5px 5px -5px rgba(51,51,51,0.2);
  box-shadow: inset 0px 5px 5px -5px rgba(51,51,51,0.2);
}
.swiper-container-toolbar {
  position: relative;
  background: transparent;
  height: 85px;
}

.swiper-pagination-toolbar {
  line-height: 2;
}

.swiper-container-toolbar .swiper-pagination-bullet {
  opacity: .2;
  background: #FFFFFF;
}

.swiper-container-toolbar .swiper-pagination-bullet-active {
  opacity: .8;
  background: #FFFFFF;
}

.toolbar-icon a {
  color: #FFFFFF;
  height: 50px;
  padding: 20px 0 0 0;
}

.toolbar-icon a i {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

h2.page_title {
  font-size: 1.4rem;
}

h2.page_title > a {
  float: right;
  margin-top: 8px;
}

h2.page_title > a > i {
  float: right;
  font-size: .8rem;
  color: #f8b900;
}

h3.form_subtitle {
  font-size: 1rem;
}

a.backto {
  margin: 10px 0 10px 5%;
}

.editform label {
  font-size:14px;
  font-weight:700;
}

.form_row {
  margin: 0 0 10px 0;
}

.editform input.form_input.error,
.contactform input.form_input.error {
  border-color: #e64e5f;
}

.form_row.required > label:first-of-type:after {
  content: '*';
  color: #e64e5f;
  font-weight: 900;
  margin-left: 5px;
}

.list-block input[type="date"].form_input {
  width: 100%;
  height: 38px;
}

.post_entry_full {
  width: 90%;
}

.post_entry_100 {
  width: 100%;
}

.btn-table {
  padding: 0.2rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1.3;
  border-radius: 0.2rem;
  width: 100%;
}

.item_qnty_shop {
  padding-top: 2px;
}

input.qntyshop {
  padding-top: 3px;
}

.shop_pagination a, input.qntyminus, input.qntyplus, input.qntyminusshop, input.qntyplusshop {
  border: 1px solid #666666;
  color: #333333;
}

.item_title {
  width: 60%;
}

.item_price {
  width: 38%;
  padding: 5px 1%;
}

.order_item {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}

.order_item_title {
  width: 60%;
  padding: 15px 0 15px 2%;
}

.order_item_price {
  width: 38%;
  padding: 15px 0;
}

.swipeout-actions-right {
  width: 100%;
}

.swipeout-actions-right > a {
  flex-grow: 1;
  justify-content: center;
}

.swipeout-actions-right > a > i {
  font-size: 24px;
}
.list-block .swipeout-actions-right a:nth-child(1){
background:#92c818;
}
.list-block .swipeout-actions-right a:nth-child(2){
background:#f8b900;
}
.list-block .swipeout-actions-right a:nth-child(3){
background:#e64d5f;
}

.main-nav.icons_31 ul li {
  vertical-align: top;
}

ul.shop_items li .shop_item_details.shop_with_favbtn {
  width: 55%;
  padding: 0 10% 0 5%;
}

.shop_item_price {
  width: auto !important;
  border-radius: 25px !important;
  padding: 0 15px !important;
}

/* APP */	
.simple-link {
  color: #e64d5f;
}

.color-red { color: #e64d5f; }
.color-orange { color: #f8b900; }
.color-orange-dark { color: #efa506; }
.color-green { color: #92c818; }
.color-green-dark { color: #8cc500; }
.color-blue { color: #334a60; }
.color-purple { color: #722258; }
.color-brown { color: #d97905; }

.color-white { color: #ffffff; }

.color-goldfish-a { color: #fa6800; }
.color-goldfish-b { color: #f38630; }
.color-goldfish-c { color: #e0e4cd; }
.color-goldfish-d { color: #a7dbd8; }
.color-goldfish-e { color: #68d2e7; }

.bgcolor-red { background-color: #e64d5f; }
.bgcolor-orange { background-color: #f8b900; }
.bgcolor-orange-dark { background-color: #efa506; }
.bgcolor-green { background-color: #92c818; }
.bgcolor-green-dark { background-color: #8cc500; }
.bgcolor-blue { background-color: #334a60; }
.bgcolor-purple { background-color: #722258; }
.bgcolor-brown { background-color: #d97905; }

.bgcolor-lightgrey { background-color: #eaeaea; }

.bgcolor-goldfish-a { background-color: #fa6800; }
.bgcolor-goldfish-b { background-color: #f38630; }
.bgcolor-goldfish-c { background-color: #e0e4cd; }
.bgcolor-goldfish-d { background-color: #a7dbd8; }
.bgcolor-goldfish-e { background-color: #68d2e7; }

.checkbox-custom {
  position: relative;
  padding-left: 24px;
  box-sizing: border-box;
}

.checkbox-custom input {
  position: absolute;
  left: 0;
  top: 0;
}

.input-custom {
  position: relative;
}

.input-custom .iconbtn {
  position: absolute;
  right: .6rem;
  top: .6rem;
  color: #bbbbbb;
  width: 20px;
  text-align: center;
}

.skewered-image {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  top: 14px;
  position: relative;
}

.skewered-image img {
  max-height: 100%;
}

.break-all {
  word-break: break-all;
}

.text-right {
  text-align: right;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 18px;
}

.bullet-list > li {
  margin-bottom: 10px;
}

.iconed-list > li {
  padding-bottom: 8px;
  border-bottom: solid 1px #dddddd;
  margin-bottom: 8px;
  font-size: .9rem;
  display: flex;
}

.iconed-list > li > i {
  display: block;
  color: #666666;
  line-height: 30px;
  height: 30px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  border-radius: 60px;
  font-size: 1.4rem;
}

.iconed-list > li > b {
  font-size: .8rem;
  line-height: 30px;
}

.iconed-list > li > a {
  line-height: 1.6;
}

.iconed-list > li > a.btn {
  padding: 0.15rem 0.3rem;
}

.iconed-list > li > span {
  font-size: .9rem;
  line-height: 20px;
  padding-top: 5px;
}

.timeline-list {
  margin-left: 10px;
  padding-left: 15px;
  border-left: solid 2px #d9790577;
  margin-top: 15px;
}

.timeline-list > li {
  position: relative;
}

.timeline-list > li:before {
  content: '';
  display: block;
  position: absolute;
  left: -25px;
  top: 0;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: solid 2px #d97905;
  border-radius: 10px;
}

.timeline-list > li > .timeline-list-index {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: -3px;
}

.timeline-list > li > .timeline-list-sub {
  font-size: .7rem;
}

.timeline-list > li > .timeline-list-sub > a,
.timeline-list > li > .timeline-list-sub > span {
  font-size: .9rem;
}

.timeline-list > li > p {
  font-size: .8rem;
}

.timeline-list-add > a {
  position: relative;
  display: block;
  top: -6px;
  font-size: 16px;
  line-height: 18px;
}

.timeline-flex {
  display: flex;
}

.timeline-flex .timeline-info {
  flex-grow: 1;
}

.timeline-flex .timeline-buttons {
  width: auto;
  white-space: nowrap;
}

.checkmarklist > li {
  position: relative;
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.checkmarklist > li:before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
}

.custom-image {
  width: 90%;
  margin: 0px 5% 15px 5%;
}

.image img,
.custom-image img {
  max-width: 100%;
}

.preview-image img {
  max-width: 100%;
}

.flex-container {
  display: flex;
}

.flex-justify {
  justify-content: space-between;
}

.float-right {
  float: right;
}

.label {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
}

.label.label-sm {
  padding: 2px 4px;
  font-size: 12px;
}

.label.label-green {
  color: #FFFFFF;
  background-color: #92c818;
}

.label.label-blue {
  color: #FFFFFF;
  background-color: #334960;
}

.label.label-lightgray {
  color: #FFFFFF;
  background-color: #999999;
}

.status {
  display: inline-block;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 4px;
}

.status.status-green {
  color: #333333;
  background-color: #e3f3bf;
}

.status.status-lightgray {
  color: #333333;
  background-color: #dddddd;
}

.row-clear {
  clear: both;
}

.faq-accordion .accordion-item {
  margin-bottom: 10px;
}

.faq-accordion .accordion-item-toggle {
  display: flex;
  height: auto;
}

.faq-accordion .accordion-item-toggle .icon {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
}

.faq-accordion .accordion-item-content {
  padding-left: 35px;
}

.faq-accordion .accordion-item-toggle span {
  line-height: 1rem;
  padding-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.table-accordion .accordion-item-toggle {
  color: #333333;
  background-color: #eaeaea;
  padding: 0 9px;
}

.table-accordion .accordion-item-expanded .accordion-item-toggle {
  color: #FFFFFF;
  background-color: #f8b900;
}

.table-accordion.custom-accordion .icon-plus,
.table-accordion.custom-accordion .icon-minus {
  width: 23px !important;
  height: 23px !important;
  top: -2px;
}

.table-accordion.custom-accordion .accordion-item-expanded .icon-plus,
.table-accordion.custom-accordion .accordion-item-expanded .icon-minus {
  border: 1px solid #FFFFFF;
}

.table-accordion .accordion-item-content {
  padding: 0;
}

.bigicon {
  font-size: 7rem;
}

.rotate15 {
  transform: rotate(15deg);
}

.rotate30 {
  transform: rotate(30deg);
}

.searchbox {
}

.searchbox form {
  display: flex;
}

.searchbox input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  background-color: #FFFFFF !important;
  border: 1px solid #ddd !important;
  flex-grow: 1;
}

.searchbox input[type="submit"] {
}

.btn-round {
  border-radius: 50%;
}

.category-filters > ul {
  margin: 0;
  width: 100%;
}

.category-filters > ul > li > a > i {
  font-size: 24px;
  margin-bottom: 10px;
}

.category_icon {
  width: 100%;
  text-align: center;
}

.category_icon > img {
  display: inline-block !important;
  width: 60% !important;
  opacity: .8;
}

.notes {
  padding: 3%;
  background: #eaeaea;
  font-size: 16px;
}

.cards {
}

.cards .card {
  background: #FFFFFF;
  border: solid 1px #eaeaea;
  padding: 10px;
  border-radius: 6px;
}

.cards .card .cardhead {
  padding: 0px 0px 5px 0px;
  text-align: center;
  border-bottom: solid 1px #eaeaea;
}

.cards .card .cardhead .cardsub {
  font-size: 16px;
}

.cards .card .cardhead .cardtitle {
  font-size: 26px;
}

.cards .card .cardhead .cardtitle .cardtitlesml {
  font-size: 14px;
}

.cards .card .cardbody {
  padding: 0px 0px 5px 0px;
  border-bottom: solid 1px #eaeaea;
}

.cards .card .cardfooter .btn {
  box-sizing: border-box;
  width: 100%;
}

.form_select_custom {
  position: relative;
}

.form_select_custom:after {
  content: '\25bc';
  position: absolute;
  top: 11px;
  right: 11px;
  color: #777777;
}

.custom-features {
}

.custom-features .cf-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.custom-features .cf-group:last-of-type {
  margin: 0;
}

.custom-features .cf-group .cf-item {
  padding: 8px;
  background: #DDDDDD;
  color: #555555;
  font-size: 15px;
  border-radius: 8px;
  line-height: 17px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.custom-features .cf-group .cf-title {
  padding: 12px 8px 8px 8px;
  background: #555555;
  color: #FFFFFF;
  font-weight: 600;
  position: relative;
  margin-top: 45px;
}

.custom-features .cf-group .cf-title .cf-icon {
  padding: 0;
  background: #EEEEEE;
  border: solid 3px #FFFFFF;
  border-radius: 999px;
  position: absolute;
  left: 50%;
  top: -40px;
  width: 50px;
  margin-left: -25px;
  box-sizing: border-box;
}

.custom-features .cf-group.cf-group-green .cf-item { background: #e9f0ad; }
.custom-features .cf-group.cf-group-red .cf-item { background: #f9d4dc; }
.custom-features .cf-group.cf-group-orange .cf-item { background: #ffeed5; }
.custom-features .cf-group.cf-group-green .cf-title { background: #8bc63e; }
.custom-features .cf-group.cf-group-red .cf-title { background: #f05562; }
.custom-features .cf-group.cf-group-orange .cf-title { background: #fdb94a; }
.custom-features .cf-group.cf-group-green .cf-title .cf-icon { background: #8bc63e; }
.custom-features .cf-group.cf-group-red .cf-title .cf-icon { background: #f05562; }
.custom-features .cf-group.cf-group-orange .cf-title .cf-icon { background: #fdb94a; }

/* HEADER LOGO RIGHT */	
.navbar_logo_right{
float: right;
width:50%;
padding:0 3% 0 0;
}
.logo_image {
  text-align: right;
}
.navbar_logo_right a img{
display:inline-block;
max-width:100%;
padding:8px 0 0 0;
}

/* FOOTER */	
.footer-bar {
  background: #e64d5f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;
}

.footer-bar-vet {
  background: #f8b900;
}

.footer-bar-petowner {
  background: #e64d5f;
}

.footer-bar .links-row {
  background-color: #FFFFFF11;
  width: 100%;
  text-align: center;
}

.footer-bar .links-row a {
  display: inline-block;
  color: #FAFAFA;
  text-decoration: none;
  text-align: center;
  padding: .6rem .3rem;
  box-sizing: border-box;
  font-size: .7rem;
}

.footer-bar .links-row a:first-of-type {
  padding: .6rem .3rem .6rem 0;
}

.footer-bar .copyright {
  display: inline-block;
  color: #FAFAFABB;
  text-align: center;
  padding: .6rem 0 .6rem .3rem;
  box-sizing: border-box;
  font-size: .6rem;
}


/* NAVS */
#navs.navtopleft {
  right: auto;
  bottom: auto;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  line-height: 46px;
  font-size: 40px;
  font-weight: 500;
  color: #FFFFFF;
}

#navs.navtopleft>li {
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  line-height: 0;
}

#navs.navtopleft>li>a {
  line-height: 40px;
  font-size: 1.3rem;
}

/* HOME */
.fullbg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}

.fullbg-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullbg-content {
  width: 80%;
  margin: 0 auto;
}

.tabs-custom {
  box-sizing: border-box;
}

.tabs-custom .button-rows {
  justify-content: start;
}

.tabs-custom .button {
  color: #667e9666;
  background-color: #FFFFFF;
  font-size: 1.2rem;
  padding: .1rem .8rem;
  width: auto;
  height: auto;
  border-radius: .3rem .3rem 0 0 !important;
}

.tabs-custom .button.active {
  color: #FFFFFF;
  background-color: #f8b900;
}

.tabs-custom .tabs-simple {
  border-top: solid 4px #f8b900;
  margin-top: 0;
  background-color: #FFFFFF;
  border-radius: 0 0 .3rem .3rem;
  padding: .8rem;
  box-sizing: border-box;
}

.search-form .form-row {
  display: flex;
}

.search-form .form-row .form-input {
  flex-grow: 1;
  background-color: #EEEEEE;
  color: #333333;
  border: 0;
  padding: .4rem;
  margin-right: .8rem;
  width: 0;
}

.search-form .form-row .form-input::placeholder {
  color: #BBBBBB;
}

.btns-row {
  display: flex;
  width: 100%;
}

.btns-row .btn {
  flex-grow: 1;
  margin-right: .8rem;
}

.btns-row .btn:last-child {
  margin-right: 0;
}


/* DASHBOARD - PET LIST */
.custom-list-pet .post_details h4 {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  padding: 0;
  margin-bottom: 5px;
}
.custom-list-pet .post_details span:not(.status) {
  padding: 0;
}
.custom-list-pet .post_details .row {
  padding-right: 15px;
}


/* DASHBOARD - INVOICE DETAIL */
.invoice_info {
  display: flex;
  width: 90%;
  margin: 0px 5% 0px 5%;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: solid 1px #f0f0f0;
}
.invoice_info_top {
  width: 100%;
}
.invoice_info_top > span {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}
.invoice_info_left {
  width: 36%;
  margin-right: 4%;
}
.invoice_info_left > .invoice_info_name {
  font-size: 14px;
  margin-bottom: 5px;
}
.invoice_info_right {
  width: 56%;
  margin-left: 4%;
}
.invoice_info_right > .invoice_info_name {
  font-size: 14px;
  margin-bottom: 5px;
}

.invoice_from > span {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  padding: 5px;
  background-color: #F0F0F0;
  display: block;
  text-align: center;
}

.invoice_to > div > b {
  margin-right: 8px;
}


table.custom_table { 
  width:100%;
}
table.custom_table > thead > tr > th,
table.custom_table > tbody > tr > td {
  background-color:#f5f5f4;
  padding: 8px;
  border: solid 1px #eaeaea;
}
table.custom_table > tbody > tr:nth-of-type(odd) > td {
  background-color:#ffffff;
}
table.custom_table > thead > tr > th {
  background-color:#f8b900;
  border: solid 1px #e8a900;
  color:#222222;
  text-align: left;
}

.input_table input[type="text"] {
  width: 50px;
}

.input_table input::placeholder {
  color: #BBBBBB;
}

.form_table > tbody > tr > td  {
  vertical-align: top !important;
}

table.custom_table.form_table > tbody > tr > td {
  background-color:#ffffff;
}

.datetimepicker_contain {
  width: 100%;
}

.datetimepicker_contain .datetimepicker,
.datetimepicker_contain .xdsoft_datetimepicker.xdsoft_inline {
  width: 100%;
  padding: 2%;
  display: flex;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_datepicker.active {
  flex-grow: 1;
  width: 70%;
  padding-right: 2%;
  margin-left: 0;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_timepicker.active {
  width: 80px;
  margin-left: 0;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar th {
  padding: 2%;
  font-size: 80%;
  line-height: 25px;
  text-align: center;
  height: auto;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td {
  padding: 2%;
  font-size: 80%;
  line-height: 25px;
  text-align: center;
  height: auto;
  background: #ffffff;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td>div {
  padding: 0;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
  padding: 2%;
  font-size: 80%;
  height: auto;
  line-height: 25px;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled {
  background: #eaeaea;
  color: #cccccc;
  opacity: 0.4;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled.xdsoft_filled {
  background: #f8b900;
  color: #FFFFFF;
  opacity: 1;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled.xdsoft_other_month {
  background: #eaeaea;
  color: #dddddd;
  opacity: 0.4;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled.xdsoft_weekend {
  background: #eaeaea;
  color: #e64d5f;
  opacity: 0.4;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  background: #FFFFFF !important;
  color: #92c818 !important;
  font-weight: bold;
  box-shadow: none !important;
}

.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.datetimepicker_contain .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
  background: #92c818 !important;
  color: #FFFFFF !important;
  box-shadow: none !important;
}

.datetimepicker_disabled {
  position: relative;
}

.datetimepicker_disabled:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dadada;
  opacity: .2;
  z-index: 10000;
}

.infocard {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}