	.sendbird_notifCS{
		display: none;
		position: relative;
	  	width: 200px;
	  	font-size: 12px;
	  	background-color: rgba(137, 107, 245, 0.7);
	  	color: #fff;
	  	text-align: center;
	  	border-radius: 6px;
	  	padding: 5px 0;

	  	/* Position the tooltip */
	  	position: absolute;
	  	z-index: 1;
	  	bottom: 100%;
	  	right: 25%
	}
	.sendbird_notifCS::after {
	  	content: " ";
	  	position: absolute;
	  	top: 100%; /* At the bottom of the tooltip */
	  	left: 75%;
	  	margin-left: -5px;
	  	border-width: 5px;
	  	border-style: solid;
	  	border-color: rgba(137, 107, 245, 0.7) transparent transparent transparent;
	}
	#sb_widget .ic-connected, #sb_widget .ic-login{
		display: none !important;
	}
	#alert-sendbird{
	    z-index: 99991;
	    position: fixed;
	    right: 0;
	    bottom: 10px;
	    height: 60px;
	    display: none;
	    right: 7%;
	}
	#sb_widget .channel-board .board-top .ic-option, #sb_widget .channel-board .board-top .ic-new-chat, .ic-invite, .ic-leave{
		display: none !important;
	}
	#sb_widget{
		right: 12em;
	}
	.sendbird-container{
		margin: 0;
	    padding: 0;
	    font-size: 100%;
	    line-height: 1;
	    width: auto;
	    height: auto;
	    box-sizing: initial;
	    z-index: 99991;
	    position: fixed;    
	    right: 2em;
    	/*top: 18%;*/
    	top: 75%;
	}
	.close-formSendbird{
		float: right;
	    font-size: 25px;
	    cursor: pointer;
	}
	.sendbird-container #contact-cs-login{
		margin: 0;
	    padding: 0;
	    font-size: 100%;
	    line-height: 1;
	    box-sizing: initial;
	    z-index: 99991;
	    width: 175px;
	    height: auto;
	    cursor: pointer;
	    float: right;
	}
	.sendbird-container #contact-cs-login img{
		width: 100%;
	}
	.panel-success{
		background: #fff;
	    border-radius: 15px;
	    width: 400px;
	    box-shadow: 0px 15px 10px -15px #111;
	}
	.panel-success .panel-heading h3{
		margin-bottom: 5px;
	    color: #fff;
	    text-transform: capitalize;
	}
	.panel-success .panel-heading p{
		margin: 0;
		text-align: center;
	    color: #fff;
	}
	.panel-success .panel-heading{
		background: #eeb60d;
	    border-top-right-radius: 15px;
	    border-top-left-radius: 15px;
	    padding: 15px;
	    color: #fff;
	}
	.sendbird_loading{
		position: absolute;
	    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
	    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
	    width: 100%;
	    left: 0;
	    top: 21%;
	    height: 200px;
	    z-index: 99999;
	    display: none;
	}
	.sendbird_loading i{
	    width: 100%;
	    line-height: 200px;
	    color: #fff;
	}
	.panel-success .panel-body{
	    padding: 15px;
	    height: 200px;
	    overflow: hidden;
	}
	.panel-success .panel-body:hover{
    	overflow-y: scroll;
	}
	.panel-success .panel-body p{
		margin: 0;
	}
	.panel-success .panel-body .form-cs{
		border: 1px solid #ccc;
    	padding: 15px;
    	border-radius: 5px;
	}
	.panel-success .panel-body .btn{
		width: 100%;
	}
	.panel-success .panel-body .sendbird-cancel{
		background: #d6d6d6;
		border: none;
	}
	.panel-success .panel-body .sendbird-cancel:hover{
		background: #bebaba;
		border: none;
	}
	.panel-success .panel-body .sendbird-send{
		background: #eeb60d;
		border: none;
	}
	
	.panel-success .panel-body .sendbird-send:hover{
		background: #cc9b07;
	}
	.panel-success .panel-footer img{
		display: table;
	    margin: auto;
	    padding: 5px 0;
	}
	/* The container-checkbox */
	.container-checkbox {
	  	display: block;
	  	position: relative;
	  	padding-left: 35px;
	    margin-bottom: 15px;
	    cursor: pointer;
	    font-size: 15px;
	    line-height: 20px;
	  	-webkit-user-select: none;
	  	-moz-user-select: none;
	  	-ms-user-select: none;
	  	user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container-checkbox input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 20px;
	  width: 20px;
	  background-color: #eee;
	}

	/* On mouse-over, add a grey background color */
	.container-checkbox:hover input ~ .checkmark {
	  background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container-checkbox input:checked ~ .checkmark {
	  background-color: #2196F3;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	.container-checkbox input:checked ~ .checkmark:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.container-checkbox .checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}