/*Google Font Import*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/* Add here all your CSS customizations */
body, html {
	font-family: "Poppins", sans-serif;
}
.m-0 {margin: 0;}
.p-0 {padding: 0;}
.circle { border-radius: 50%; height: 90px; width: 90px; line-height: 90px; margin: 30px auto 15px; padding: 0;}
.circle img {width: 50px; height:auto;}
.c01 {background-color: #99cc00;}
.c02 {background-color: #f7b82b;}
.c03 {background-color: #cc3399;}
.disrupt_col {margin-top: 0px;}
.disrupt {padding: 50px 12px 25px; border-radius: 12px;}
.disrupt.d000 {background: #eeeeee; padding: 25px;}
.disrupt.d001 {background: center 15px no-repeat url("../images/ico001.png") #f5fbe3;}
.disrupt.d002 {background: center 15px no-repeat url("../images/ico002.png") #f5fbe3;}
.disrupt.d003 {background: center 15px no-repeat url("../images/ico003.png") #fbfad8;}
.disrupt.d004 {background: center 15px no-repeat url("../images/ico004.png") #fbfad8;}
.disrupt.d005 {background: center 15px no-repeat url("../images/ico005.png") #fbfad8;}
.disrupt.d006 {background: center 15px no-repeat url("../images/ico006.png") #fdf4f8;}
.disrupt.d007 {background: center 15px no-repeat url("../images/ico007.png") #fdf4f8;}
.disrupt.d008 {background: center 15px no-repeat url("../images/ico008.png") #fdf4f8;}


/* Header */
@media (max-width: 575px) {
	.header-logo img {/*width: 150px!important; height: auto!important;!*/ margin-top:7px; margin-bottom: -7px;}
}

@media (max-width: 375px) {
.login-button {
	padding: 0.75rem 1rem!important;
	margin-left: 5px!important;

	}
.header-btn-collapse-nav {
	margin-left: 5px!important;
	}

}

/* Homepage 1st Section After Header */
.top_bg_container {				
	background-image: url('../images/slide03.jpg');
	background-repeat: no-repeat;
	width:100%;
	height:100vh;
	text-align:center;
	background-position: center center;
	background-size:cover;
	display: flex;
	align-items: center;
  justify-content: center;
	padding: 10px;
}

.home-chip-h1 { font-size: 30px!important;}
.home-chip-text { font-size: 12px!important; line-height: 18px!important;}
.home-banner-text {color: #fff; margin: 0 auto 30px auto; max-width: 600px;}

@media (max-width: 575px) {
	.top_bg_container {	
		background-image: url('../images/slide03-mobile.jpg');
		margin-bottom: 0;
	}	
	.home-banner-text {max-width: 290px;
	}
}

.findyourpet {
	background-image: url('../images/slide01.jpg');
	background-repeat: no-repeat;
	width:100%;
	height:645px;
	text-align:left;
	background-position: center center;
	background-size:cover;
	margin-bottom:3px;
	vertical-align:middle;
	padding: 0 15px;
	max-width: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
}
.boxbg {
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	padding: 30px 30px;
}
.boxbg h2 {
	margin-bottom: 15px;
}
.boxbg p {
	font-size: 12px;
	line-height: 18px;
	margin: 20px 3px;
}

/* change default font */
.custom-primary-font {
	font-family: 'poppins', sans-serif!important;
}

/* news thumbnails */
.thumb-info-wrapper {
	height: 200px;
}
.thumb-info-caption {height: 350px;}

/*
Join our Vet Network
*/
.vetjoin, .vetjoin h1, .vetjoin h2,  .vetjoin h3,  .vetjoin h4,  .vetjoin p  {color:#fff;}
.vetjoin h4 {margin-bottom: 30px;}
section.vetjoin {
	background-image:  url('../images/vetjoin-bg.jpg');
	background-size: cover;
	background-position: center center;
	border: 1px solid red;
	min-height: 394px;
	width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}


/*footer*/
#footer {background: transparent no-repeat top left url(../images/aboutus-bg.png); background-size: cover;}

.c04 {background-color: #334960;}
.c05 {background-color: #722057;}